#searchModal {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #1E213A;
    overflow: hidden;
    transform: translate(-110%);
    transition: transform .3s ease-in-out;
}

#searchModal.mostrar {
    transform: translate(0);
    width: 459px;
    min-height: 100vh;
}

#close {
    display: flex;
    justify-content: flex-end;
    padding: 24px 46px;
}

#btn-close {
    outline: none;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: #1E213A;
}

#searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 90%;
    gap: 10px;
    margin-bottom: 44px;
}

#box-search {
    border: 1px solid #E7E7EB;
    width: 268px;
    height: 48px;
    display: flex;
    align-items: center;
}

#icon-search {
    margin: 12px;
}

#input-search {
    color: #616475;
    outline: none;
    border: none;
    width: 146px;
    font-size: 16px;
    font-weight: 500;
    background-color: #1E213A;
}

#btn-search-city {
    width: 86px;
    height: 48px;
    background: #3C47E9;
    outline: none;
    border: none;
    cursor: pointer;
    color: #E7E7EB;
    font-size: 16px;
    font-weight: 600;
}

.btn-menu {
    color: #E7E7EB;
    background-color: #1E213A;
    font-size: 16px;
    font-weight: 500;
    width: 367px;
    height: 64px;
    margin: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.btn-menu:hover {
    border: 1px solid #616475;
}

.btn-menu-simbolo {
    color: transparent;  
}

.btn-menu:hover > .btn-menu-simbolo {
    color: #616475;  
}

/* Pantallas grandes con anchos menores a 1328px (desktops)*/
@media screen and (max-width: 1327.98px) {
    #searchModal.mostrar {
        width: 375px;
    }
    #close {
        padding: 24px;
    }
    .btn-menu {

        padding: 24px;
    }
  }
  
  /* Pantallas grandes con anchos menores a 1024px (desktops)*/
  @media screen and (max-width: 1023.98px) {}
  
  /* Pantallas medianas con anchos menores a 960px(tablets) */
  @media screen and (max-width: 959.98px) {
  
  }
  
  /* Pantallas pequeñas con anchos menores a 768px(móviles en landscape) */
  @media screen and (max-width: 767.98px) {
    #searchModal.mostrar {
        width: 100%;
    }
    .btn-menu-simbolo {
        color: #616475; 
    }
  }
  
  /* Pantallas muy pequeñas con anchos menores a 480px(móviles en portrait) */
  @media screen and (max-width: 479.98px) {

  }
  
  /* Pantallas muy pequeñas con anchos menores a 320px(móviles en portrait) */
  @media screen and (max-width: 319.98px) {
    #searchModal.mostrar {
        width: 100%;
    }
  }
